/*mobile*/
body {
	background-color: #313EEF;
	font-family: system-ui;
}

fieldset {
	border: yellow solid;
		text-align: center;
		height: 200px;
		margin: 0 auto;
}

header {
	background-color: #F8AE45;
	color: #313EEF;
	width: 100%;
	position: fixed;
	text-align: center;
	font: 17pt
}

/*Desktop*/
@media screen and (min-width: 1000px) {
	.form .btn-container {
		width: 30%;
	}
}