/*mobile*/
body {
	background-color: #313EEF;
	font-family: system-ui;
}

fieldset {
	border: yellow solid;
		text-align: center;
		height: 200px;
}

header {
	background-color: #F8AE45;
	color: #313EEF;
	width: 100%;
	position: fixed;
}

h1 {
	font-size: 3em;
	text-align: center;
	width: 100%;
}

legend{
	font-size: 2em;
	font-weight: bold;
}

/*Desktop*/
@media screen and (min-width: 1000px) {
	.form .btn-container {
		width: 30%;
		positon: center;
	}
}