body{
    font-family: "Times New Roman", Times, serif;
    min-height: 100vh;
    background-color: #313EEF; 
}


header h1{
    text-align: center;
	margin: 1em auto;
    font-size: 4em;
}

.form label{
    display: block;
}

.form{
    height: 50%;
    width: 90%;
    position: fixed;
    top: 25%;
    bottom: 25%;
    left: 50%; 
    margin-left: -45%;
}


header{
    background-color: #F5B234;
    width: 100%;
    position: fixed;
}

.form .label{
    font-size: 5em;
    width: 90%;
    margin: 3em auto;
    text-align: left
}

.form fieldset legend{
	
    font-size: 2.5em;
    text-align: right;
}

.form fieldset{
    margin: 0 auto;
}

.button-container{
    width: 100%;
    height: 3em;
    margin: 5em auto;
    text-align: center;
}

.form .button{
    height: 4em;
    background-color: yellow;
	text-color: green;
}

/*Desktop*/
@media screen and (min-width: 1000px) {
	.form .btn-container {
		width: 30%;
		positon: center;
	}
}